*{
    margin: 0;
    font-family: karla;
}


.nav{
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    padding: 20px;
    color: white;
    height: 65px;
}

.nav-img{
    margin-right: 7px;
    height: 30px;
    width: 36px;
    
}

.nav-title{
    margin-right: auto;
    font-weight:700 ;
    font-size: 25px;
    line-height: 15px;  
}

.nav-proj{
    font-weight: 600;
    font-size: 17px;
    line-height: 14px;
}

.input-box1,.input-box2{
    height: 35px;
    width: 230px;
    font-family: karla;
    font-size: 12px;
    font-weight: 400px;
    max-width: 100%;
    text-indent: 11px;
    border-radius: 5px;
}

.input-box1{
    margin-right: 17px;
}

.btn{
    width: 494px;
    height: 40px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    border-radius: 5px;
    margin-top: 15px;
    color: white;
    border: none;
    font-family: karla;
    font-weight: 700;
    font-size: 16px;
}

.meme{
    padding: 36px;
    text-align: center;
}

.fullMeme{
    position: relative;
}

.memeText{
    position: absolute;
    font-family: 'karla';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    margin: 40px 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.top{  
    top: 0px;
}

.bottom{
    bottom: 0px;
}

.meme-img{
    max-width: 100%;
    max-height: 100%;
    margin-top: 36px;
    width: 477px;
    height: 268px;
    border-radius: 4px;
}